.smooth {
    @apply transition-all duration-300 ease-in-out;
}
.card {
    @apply bg-nk-gray-300 p-4;
}
.chips {
    @apply inline-block px-2 py-1 ml-2 text-center bg-nk-gray-500 bg-opacity-50 text-xs rounded-full
}

.link {
    @apply smooth inline-block;
}
.link.link--red {
    @apply text-nk-red-700;
    @apply hover:text-nk-red-500;
}
.link.link--white {
    @apply text-white;
    @apply hover:text-nk-red-500;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding: 2px;
}
::-webkit-scrollbar-thumb {
    @apply bg-nk-gray-500 bg-opacity-70 rounded-sm;
}
::-webkit-scrollbar-thumb:hover{
    @apply bg-nk-gray-500 bg-opacity-50 cursor-pointer;
}
::-webkit-scrollbar-track{
    @apply bg-nk-gray-300;
}